
/* main sidebar */
#sidebar {background: linear-gradient(180deg, rgb(255, 0, 200) 0%, rgba(228, 0, 157, 1) 22%, rgba(255, 0, 191, 0.64) 50%, rgb(150, 0, 150) 75%, rgba(110, 0, 135, 0.829) 100%);; float: left; width: 7%; height: 100%; position: absolute;}

#home-text {position: relative; font-weight: bold; color: rgb(0, 217, 255);}
#button-home {margin-left: -2px; height: 90px; margin-top: 25px; background-color: #22222200; border-width: 0px;}


#port-text {position: relative; font-weight: bold;}
#port-button {margin-left: -2px; height: 90px; margin-top: 8px; background-color: #22222200; border-width: 0px;}

#about-black {margin-left: 5px; margin-top: -5px;}
#about-text {font-weight: bold; position: relative;}
#about-button {margin-left: 0px; height: 90px; margin-top: 10px; background-color: #22222200; border-width: 0px;}


/* side info */
body {background-color: #222222;}

#page-name {letter-spacing: -2px;} 

#info {margin-left: 95px; color: rgb(255, 255, 255);}

/* contact form */
#contact {color: #ffffff; margin-bottom: -20px; font-family: system;}
#contact-box {background-color: #2D2D2D; float: left; position: fixed; margin-top: 300px; height: 100%; width: 260px;
text-align: center;
}
#email {font-family: system ;border-radius: 7px; width: 100%; margin-left: -5px; border-width: 1px; margin-bottom: 3%;}
#message {font-family: system;border-radius: 7px; height: 10%; padding-bottom: 50px; width: 100%; margin-left: -5px; border-width: 1px; margin-bottom: 3%;}
#send {border-radius: 10px; border-width: 1px; font-family: system; background-color: rgb(255, 255, 255);}


/* info */
#info {color: #ffffff;}


/* changed */
#home-text-blk {color: #000000; font-weight: bold;}
#about-text-blue {color: rgb(0, 217, 255); font-weight: bold;}
#port-text-blue {color: rgb(0, 217, 255); font-weight: bold;}
