
#fieldset1 {border: none; text-align: center;}


#text1 {font-size: 30px; color: rgba(21, 255, 0, 0.849);}
#text2 {font-size: 30px; color: rgba(21, 255, 0, 0.849);}
#text3 {font-size: 30px; color: rgba(21, 255, 0, 0.849);}
#text4 {font-size: 30px; color: rgba(21, 255, 0, 0.849);}



input {width: 300px; border-radius: 6px; border-width: 1px; font-size: 25px;}



#fieldset2 {background-color: aliceblue; width: 200px; margin-left: 42.5%;}



#header1 {text-align: center; font-size: 50px; color: rgba(6, 173, 29, 0.993);}



#calculate {border-width: 1px; border-radius: 6px; font-size: 25px; margin-top: 3%;}
#reset {border-width: 1px; border-radius: 6px; font-size: 25px;}



#princ {margin-bottom: 1%;}
#num  {margin-top: 1%;}
#month {margin-top: 1%}








